{% extends "layout.html" %}

{% block content %}
 <div class="jumbotron">
   <h1 class="display-4">Hi!</h1>
   <p class="lead"> Conoce mi nueva sito web creado con python , html5, css y javascript</p>
   <hr class="my-4">
   <p>utilizo esta opcion de boton desde boostrap , recuerda visitar esta pagina.</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">LEER MAS</a>
   <p>este el es tecto oculta de leer mas espeor funciona porque sino nose como se hace
    sesagyuwdw
    adqawda
    sefsdfsdf
    .</p>
 </div>

{% endblock %}